<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="PADS_Private_Connection" value ="IFB5+F/nwleZvxNr5GCXjZURgaCG1U/5S7ncHSxDb1S43i2KpZDKIkSbQI8P5GGFeveU2/rShZWXmvkVNVr05ERIsX8QBXXlzQuvFSzGNV6jJ2yw+PT0MpyfHVwpuZcMRu82X+cH74OOEW6S2guKuBuY6WRPZbxT7GfVHx2t32rG6dUQYqH5lJAqMem1SiwqhpkZsm6jJJxhj1Nv8xk6N16tNkXX/iR6LuluSF97Z4nBakvLQOSHukDiY/VpVpz6UJbYIcpR6e82Yh+WRVHGz99b5qdsWnpD"/>
    <add key ="PADS_PUBLIC_Connection" value ="IFB5+F/nwleZvxNr5GCXjZURgaCG1U/5S7ncHSxDb1TQCAvTSh6C00WP9xqAlBx08rgWGCNAAwNAO4Jolt1oH9cjvIMQIKB1AYFw9pHps6JO6PWnIlH09pzT0A6MB8Fg5Vjzy5uqr2O0wTT1U1GI2HbQwoE2AFITmp88kfgTKMjeaIA8w7ffadWBgmos/8ylNPeUUaDzCmp2pG8g2+dxmrZ/q3O84rOW7RmQbQ/wRKmyP98Lekv1h73dGbtBukCbX+6ZOEjKfxMAPONitvOnZ/6egZRexOwd"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>